@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

* {
	box-sizing: border-box;
}

body {
	font-family: Inter, Verdana, Geneva, Tahoma, sans-serif;
	font-size: 100%;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.3rem 3rem;
	background-color: white;
	box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.2);
	position: fixed;
	z-index: 99999;
	width: 100%;
	left: 0;
	top: 0;
}

.navbar a {
	text-decoration: none;
}

.navbar .logo {
	font-weight: 700;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.8);
	transition: all .2s;
	font-size: 1.2rem;
}

.navbar .logo:hover {
	color: rgba(14, 25, 182, 0.8);
}

.navbar nav {
	display: none;
	align-items: center;
	gap: 1.2rem;
}

.navbar nav a {
	color: rgba(14, 25, 182, 0.8);
	transition: all .2s;
	font-size: 1rem;
	font-weight: 500;
}

.navbar nav a:hover {
	color: rgba(9, 18, 133, 1);
}

.blog-posts {
	margin-top: 60px;
	padding: 3rem 0;
}

.container {
	width: 80%;
	margin: 0 auto;
}

.section-title {
	margin-bottom: 2rem;
	font-size: 1.8rem;
	font-weight: 600;
}

.blog-posts {
	background-color: rgba(0, 0, 0, 0.08);
}

.posts {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1.4rem;
}

.post {
	background-color: white;
	border-radius: 0.7rem;
	box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.1);
	transition: all 0.2s;
}

.post:hover {
	transform: scale(1.1);
}

.post img {
	width: 100%;
	height: 12rem;
	object-fit: cover;
	border-top-left-radius: 0.7rem;
	border-top-right-radius: 0.7rem;
}

.post .body {
	padding: 1.2rem 1.4rem;
}

.copyright {
	display: none;
}

.post .body h4 {
	font-size: 1.2rem;
	font-weight: 700;
	color: rgba(0, 0, 0, 0.8);
	margin-bottom: 0.8rem;
}

.post .body .metadata {
	font-size: 0.9rem;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.8);
	margin-bottom: 1.1rem;
}

.post .body .excerpt {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.3;
	margin-bottom: 1rem;
}

.post .body a {
	display: block;
	text-align: center;
	text-decoration: none;
	padding: 0.6rem;
	background-color: rgba(14, 25, 182, 0.8);
	color: white;
	font-size: 0.9rem;
	font-weight: 500;
	border-radius: 0.4rem;
	transition: all 0.2s;
}

.post .body a:hover {
	background-color: rgba(10, 19, 143, 0.8);
}

@media screen and (min-width: 800px) {
	.posts {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1.4rem;
	}

	.navbar nav {
		display: flex;
	}
}


@media screen and (min-width: 1200px) {
	.posts {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media print {
	.posts {
		display: none;
	}

	.copyright {
		display: block;
		font-size: 4rem;
		font-weight: 700;
	}
}
