<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>React</title>
	</head>
	<body>
		<div id="root"></div>

		<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
		<script src="https://unpkg.com/react@^16/umd/react.development.js"></script>
		<script src="https://unpkg.com/react-dom@^16/umd/react-dom.development.js"></script>
		<script type="text/babel">
			// const root = document.querySelector('#root');
			// const title = document.createElement('h1');
			// title.innerText = 'Hello World!';
			// root.append(title);

			// const title = React.createElement(
			// 	'h1',
			// 	{ id: 'title', className: 'red-text' },
			// 	'Hello from ReactJS!'
			// );

			// const para = React.createElement('p', null, 'This is some paragraph');

			// const box = React.createElement('section', { children: [title, para] });

			// const box = React.createElement(
			// 	'section',
			// 	null,
			// 	React.createElement('h1', null, 'Hello World'),
			// 	React.createElement('p', null, 'This is a paragraph'),
			// 	React.createElement('p', null, 'This is another paragraph')
			// );

			// const title = React.createElement(
			// 	'h1',
			// 	{ id: 'heading' },
			// 	'Hello world from React!'
			// );

			// const title = (
			// 	<h1 id='heading'>Hello from React! - {new Date().toUTCString()}</h1>
			// );

			// React.createElement('section', {className: 'hello'}, React.createElement('h1', null, 'Hello World'), React.createElement('p', null, 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia laborum nam adipisci quae nesciunt praesentium amet veritatis facere.'))

			// const box = (
			// 	<section className='hello'>
			// 		<h1>Hello world!</h1>
			// 		<p>
			// 			Lorem ipsum dolor {'sit amet consectetur'.toUpperCase()} adipisicing
			// 			elit. Mollitia laborum nam adipisci quae nesciunt praesentium amet
			// 			veritatis facere.
			// 		</p>
			// 	</section>
			// );

			// const children = 'Hello World. This is the page title';
			// const className = 'title';
			// const props = { children, className };

			// // const title = <h1 {...props} className='heading' />;
			// const title = <h1 className={className}>{children}</h1>;
			// // React.createElement('h1', {...props, className: 'heading'})

			// function Post({ title, date, author, children, url }) {
			// 	return (
			// 		<article>
			// 			<h4>{title}</h4>
			// 			<p>
			// 				Published on {date} by {author}
			// 			</p>
			// 			<p>{children}</p>
			// 			<a href={url}>Read More</a>
			// 		</article>
			// 	);
			// }

			// const posts = (
			// 	<div>
			// 		<article>
			// 			<h4>This is the title</h4>
			// 			<p>Published on 01-01-2024 by John Doe</p>
			// 			<p>
			// 				Lorem ipsum dolor sit amet consectetur adipisicing elit.
			// 				Voluptatem cumque modi repellat ex nostrum quaerat recusandae
			// 				beatae ipsa quasi illo.
			// 			</p>
			// 			<a href='#'>Read More</a>
			// 		</article>
			// 		{Post({
			// 			title: 'This is another title',
			// 			date: new Date().toLocaleDateString(),
			// 			author: 'Jane Doe',
			// 			children:
			// 				'Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem cumque modi.',
			// 			url: '#',
			// 		})}
			// 		{React.createElement(Post, {
			// 			title: 'This is another title',
			// 			date: new Date().toLocaleDateString(),
			// 			author: 'Jane Doe',
			// 			children:
			// 				'Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem cumque modi.',
			// 			url: '#',
			// 		})}
			// 		<Post
			// 			title='This is another title'
			// 			date={new Date().toLocaleDateString()}
			// 			author='Jack Doe'
			// 			url='#'>
			// 			Lorem ipsum dolor sit amet consectetur adipisicing elit.
			// 		</Post>
			// 	</div>
			// );

			const el = (
				<>
					<h1 style={{ color: 'red', backgroundColor: 'yellow' }}>
						Hello World
					</h1>
					<p>This is some paragraph</p>
				</>
			);

			ReactDOM.render(el, document.querySelector('#root'));
		</script>
	</body>
</html>
