* {
	box-sizing: border-box;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
	margin: 0;
}

.box {
	height: 120px;
	width: 120px;
	background-color: red;
	border: 5px solid black;
	font-size: 60px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: space-between;
	align-items: center;
	height: 400px;
	background-color: grey;
}

/* .box2 {
	order: 1;
}

.box1 {
	order: 1;
} */

.box2 {
	flex-grow: 1;
}

.box3 {
	flex-grow: 2;
}

/*
.box3 {
	height: 300px;
}

.box4 {
	height: 600px;
}

.box5 {
	height: 500px;
} */
