* {
	box-sizing: border-box;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
	margin: 0;
}

.box {
	min-height: 120px;
	background-color: red;
	border: 5px solid black;
	font-size: 60px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	/* grid-template-columns: repeat(10, 1fr); */
	gap: 20px;
	/* grid-template-columns: 1fr 4fr 100px 1fr;
	grid-template-rows: 1fr 2fr 1fr; */
	/* column-gap: 20px;
	row-gap: 20px */
	/* gap: 20px;
	grid-template-areas:
		"header header header header"
		"left-sidebar main-content main-content right-sidebar"
		"footer footer . ."; */
}

.box1 {
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 3;
}

/* .box1 {
	grid-area: header;
}

.box2 {
	grid-area: left-sidebar;
}

.box3 {
	grid-area: main-content;
}

.box4 {
	grid-area: right-sidebar;
}

.box5 {
	grid-area: footer;
} */
