@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@font-face {
	font-family: 'beautiful_butterflyregular';
	src: url('./assets/beautiful_butterfly-webfont.woff2') format('woff2'),
		url('./assets/beautiful_butterfly-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


/* body {
	background-color: yellowgreen;
} */

/* * {
	border: 2px solid red;
	font-family: Arial;
} */

/* .important {
	border: 2px solid red;
} */

/* .important.special {
	background-color: yellowgreen;
} */

/* #hello {
	border: 2px solid red;
} */

/* li {
	border: 2px solid red;
} */

/* div,
p,
li.important {
	border: 2px solid red;
} */

/* ul>li {
	border: 2px solid red;
} */

/* ol+p {
	border: 2px solid red;
} */

/* [href] {
	border: 2px solid red;
} */

/* [href="https://google.com"] {
	border: 2px solid red;
} */

/* .important {
	border: 2px solid red;
} */

/* [class|="hello"] {
	border: 2px solid red;
} */

/* [class^="hello"] {
	border: 2px solid red;
} */

/* [class$="rld"] {
	border: 2px solid red;
} */

/* [class*="llo"] {
	border: 2px solid red;
} */


/* h1 { */
/* border: 5px dashed red;
	border-width: 50px;
	border-style: double;
	border-color: red;
	border-width: 10px; */
/* border-top: 5px solid red;
	border-right: 10px solid green; */
/* border: 15px solid rgba(39, 30, 213, 0.75); */
/* border: 15px solid hsla(70, 90%, 40%, 0.5); */
/* border-width: 10px 20px 30px 40px;
	border-style: ridge; */
/* } */

/* h1:hover { */
/* border: 15px solid rgba(39, 30, 213, 1); */
/* border: 15px solid hsl(0, 90%, 35%); */
/* } */

* {
	box-sizing: border-box;
}

html {
	font-size: 50px;
}

body {
	margin: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
	margin: 0;
}

/* .navbar {
	background-color: black;
	color: white;
	font-size: 30px;
	padding: 40px 100px;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
} */

/* .navbar h2 {
	margin: 0;
} */

/* .box {
	margin-top: 300px;
} */

/* .box img {
	float: none;
	position: fixed;
	right: 50px;
	bottom: 50px;
} */

/* .box {
	width: 1000px;
	padding: 100px;
	background-color: yellowgreen;
	overflow: auto;
} */

/* body {
	font-family: Merriweather, serif;
	color: darkred;
	font-style: normal;
	font-weight: 400;
	text-transform: capitalize;
	text-decoration: none;
	font-size: 40px; */
/* text-shadow: 4px 4px 0 lightcyan, -4px -4px 0 gray; */
/* line-height: 1.5; */
/* letter-spacing: -20px; */
/* word-spacing: 10px;
	text-align: justify;
	margin: 0;
} */

/* p,
span {
	border: 2px solid darkred;
}

strong {
	display: inline-block;
	background-color: yellowgreen;
	padding: 30px;
}

.header {
	background-color: yellowgreen;
	height: 300px;
	width: 700px;
} */

/* h1 { */
/* background: darkred; */
/* border-radius: 20px 40px 60px 100px/60px; */
/* border-radius: 0.5rem; */
/* width: 500px;
	height: 200px;
	color: white;
	font-size: 100px; */
/* padding: 100px; */
/* text-align: center;
	margin: 0; */
/* box-shadow: -20px -20px 0 10px rgba(144, 1, 1, 0.5), 20px 20px 0 10px rgba(11, 0, 167, 0.5), 0 0 0 50px rgba(167, 150, 0, 0.5); */
/* box-shadow: 0 0 0 10px red, 0 0 0 20px blue, 0 0 0 30px green; */
/* -webkit-background-clip: text;
	color: transparent; */
/* background-color: white;
	background-image: url(./assets/android-chrome-192x192.png), linear-gradient(to bottom right, rgba(255, 0, 0, 0.5), rgba(7, 21, 174, 0.5)), url(./assets/1.jpeg);
	background-repeat: no-repeat;
	background-position: bottom right, center center, center center;
	background-size: 80px, cover, cover;
	background-attachment: scroll, scroll, scroll; */
/* height: 200px; */
/* } */


.navbar {
	height: 700px;
	width: 60%;
	background-color: black;
	position: relative;
}

.navbar img {
	position: absolute;
	right: 0;
	bottom: 0;
}
